In [1]:
from address_compare.comparers import *
from address_compare.parsers import *
from address_compare.evaluate import *
import pandas as pd

# Evaluating `naive_compare`

The `naive_compare` function tokenizes strings by splitting strings by spaces, stripping the white space, and checking if the two sentences contain the same sets of words.

In [2]:
a1 = "123 Fake Street"
a2 = "123 Street Fake"
a3 = "123 Fake St."
naive_compare(a1, a2)

True

In [4]:
naive_compare(a1, a3)

False

We evaluate the function against a test data set shown here.

In [5]:
test_data = pd.read_csv('address_compare/data/compare_train.csv')
test_data.head()

,address_1,address_2,match,origin
0,3703 E BROAD AVE,3703 east broad ave,True,MarijuanaApplicants.xlsx
1,3703 E BROAD AVE,3704 E BROAD AVE,False,MarijuanaApplicants.xlsx
2,3703 E BROAD AVE,3703 E BROAD AV,True,MarijuanaApplicants.xlsx
3,3703 E BROAD AVE,3703 east broad avenue,True,MarijuanaApplicants.xlsx
4,3703 E BROAD AVE,3703 e broad avenue,True,MarijuanaApplicants.xlsx

In [9]:
result = evaluate_comparer(naive_compare, test_data)

In [13]:
# accuracy
(result['actual'] == result['predicted']).mean()

0.5

In [17]:
# precision
result[result['predicted']]['actual'].mean()

0.75

In [18]:
# recall
result[result['actual']]['predicted'].mean()

0.09375