In [1]:
import pandas as pd
from address_compare.crf_tagger import AddressTagger

In [2]:
# instantiate AddressTagger object with default options, which gives the model trained in `Train CRF Model`.ipynb
at = AddressTagger()
add = "900 West New Haven Blvd, Ste. 43"

In [3]:
at.tag(add, concat = False)  # concat = False leaves tags as lists rather than strings

OrderedDict([('UNIT_TYPE', ['Ste.']),
             ('UNIT_NUMBER', ['43']),
             ('STREET_NUMBER', ['900']),
             ('PRE_DIRECTION', ['West']),
             ('STREET_NAME', ['New', 'Haven']),
             ('STREET_TYPE', ['Blvd']),
             ('POST_DIRECTION', []),
             ('UNKNOWN', [])])

In [4]:
at.tag(add, concat = True)

{'POST_DIRECTION': '',
 'PRE_DIRECTION': 'West',
 'STREET_NAME': 'New Haven',
 'STREET_NUMBER': '900',
 'STREET_TYPE': 'Blvd',
 'UNIT_NUMBER': '43',
 'UNIT_TYPE': 'Ste.',
 'UNKNOWN': ''}

In [5]:
at.tag(add, standardize=True)  # standardize = True applies the standardizer function

{'POST_DIRECTION': '',
 'PRE_DIRECTION': 'WEST',
 'STREET_NAME': 'NEW HAVEN',
 'STREET_NUMBER': '900',
 'STREET_TYPE': 'BOULEVARD',
 'UNIT_NUMBER': '43',
 'UNIT_TYPE': 'STE.',
 'UNKNOWN': ''}

In [6]:
df = pd.read_csv("address_compare/data/sample_data.csv")
df.head()

               address
0       5811 N Wall St
1   906 KING EDWARD ST
2  281 CRAIGBURN DRIVE
3   930 PORTAGE AVENUE
4   1-554 ST MARY'S RD

In [7]:
at.series_to_address_df(df["address"], standardize = False)

,STREET_NUMBER,PRE_DIRECTION,STREET_NAME,STREET_TYPE,POST_DIRECTION,UNIT_TYPE,UNIT_NUMBER
0,5811,N,Wall,St,,,
1,906,,KING EDWARD,ST,,,
2,281,,CRAIGBURN,DRIVE,,,
3,930,,PORTAGE,AVENUE,,,
4,554,,ST MARY'S,RD,,,1
5,900,W.,Hastings,St,,Ste,904
6,200,,12th,Street,West,,

In [8]:
at.series_to_address_df(df["address"], standardize = True)

,STREET_NUMBER,PRE_DIRECTION,STREET_NAME,STREET_TYPE,POST_DIRECTION,UNIT_TYPE,UNIT_NUMBER
0,5811,NORTH,WALL,STREET,,,
1,906,,KING EDWARD,STREET,,,
2,281,,CRAIGBURN,DRIVE,,,
3,930,,PORTAGE,AVENUE,,,
4,554,,ST MARY'S,ROAD,,,1
5,900,WEST,HASTINGS,STREET,,SUITE,904
6,200,,12TH,STREET,WEST,,